# ─── Node / Tailwind ───────────────────────────────────────────────
node_modules/
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*

# ─── PHP ───────────────────────────────────────────────────────────
vendor/
composer.lock

# ─── Entorno ───────────────────────────────────────────────────────
.env
.env.local
.env.*.local

# ─── IDEs y editores ───────────────────────────────────────────────
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ─── Sistema operativo ─────────────────────────────────────────────
.DS_Store
Thumbs.db
desktop.ini

# ─── Logs ──────────────────────────────────────────────────────────
*.log
public/img/servicios/
public/img/productos/
